[submodule "swift"]
	path = swift
	url = git@github.com:pilgrimagesoftware/horology-core.swift.git
[submodule "rust"]
	path = rust
	url = git@github.com:pilgrimagesoftware/horology-core.rs.git
[submodule "js"]
	path = js
	url = git@github.com:pilgrimagesoftware/horology-core.js.git
